{% extends "base_admin.html" %} 
{% block title %}Assets{% endblock %} 
{% block pageHeading %}Assets{% endblock %}
{% block content %}
  
<!-- Button to open the popup form -->
<div class="button-black" onclick="create_category_pop()">
      
  <span class="button-text">+ create asset</span>
 
</div>

  {% if assets %}
    {% set headers = ("Asset Name","Asset Category", "Serial Number", "Purchase Date", "Purchase Cost", "Current Value", "Location", "Assigned To", "Description") %}
    {% set items = [] %}
    {% for asset in assets %}
    {% set assigned_to = User.query.filter_by(organization_id=organization_id, id=asset.assigned_to).first().first_name
      if asset.assigned_to else "None" %}
    {% set asset_category = AssetCategory.query.get(asset.category_id).name if asset.category_id else "None" %}
    {% set asset_data = (asset.asset_name,asset_category, asset.serial_number, asset.purchase_date.strftime('%Y-%m-%d'), asset.purchase_cost, asset.current_value, asset.location, assigned_to, asset.description, asset.id) %}
      {% set _ = items.append(asset_data) %}
    {% endfor %}

    {% with headers=headers, items=items, show_view_button='true', show_view_text='Edit' %}
    {% include 'table.html' %}
    {% endwith %}
  {% else %}
    <h2>You have no assets</h2>
  {% endif %}
  
  <!-- Button to open the popup form -->
  <a href="{{ url_for('views.create_asset') }}" target="_blank">Create Asset</a>

  <script>
    function openPopup(itemId) {
      // Perform the necessary logic to open the edit or view popup
      // You can use the itemId parameter to fetch the relevant data for the popup

      // Example code:
      // You can use a library like Bootstrap modal or create a custom popup
      // Here, we're using a simple JavaScript alert for demonstration purposes
      alert('Open popup for item with ID: ' + itemId);
    }
  </script>

{% endblock %}
