{% extends "base_admin.html" %} 
{% block title %}Reports{% endblock %}
{% block pageHeading %}Reports{% endblock %} 
{% block content %}
<br>
  {% if reports %}
    {% set headers = ("Report Title","Description") %}
    {% set items = [] %}

    {% for report in reports %}
    {% set report_data = (report.title, report.description, report.id) %}
    {% set _ = items.append(report_data) %}
    {% endfor %}

    {% with headers=headers, items=items, show_view_button='true', show_view_text='View' %}
    {% include 'table.html' %}
    {% endwith %}
  {% else %}
    <h2>You have no Reports</h2>
  {% endif %}
  
  <!-- Button to open the popup form -->

  <script>
    function openPopup(itemId) {
  
      window.open("/report/" + itemId, "_blank");
    }
  </script>

{% endblock %}
