/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #232323;
}
ul, ol {
    list-style-type: none;
}
.container {
      display: flex;
      column-gap: normal;
      gap: 10px;
    }
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  margin-right: 20;
  height: 100vh;
  left: 0;
  background: #232323;
  width: 15%;
  /* overflow: hidden; */
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
  text-align: center;
  display: flex;
  
}
.logo img{
    width: 41.054px;
    height: 41.055px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: #FFFFFF;
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.company-list{
    margin-top: 90px;
    margin-left: 10px;
}
.first-list{
    margin-top: 85px;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
  color: #232323;
}
.logo:hover{
    background: #232323;
    color: #eee;
    transform: scale(1.1);
}
.logout{
  position: absolute;
  bottom: 0;
}

/* Main Section */
.main{
  /* max-width: 80vw; */
  position: relative;
  /* padding: 20px; */
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 20px;
  
}
.main-top{
  display: flex;
  height: 65px;
  width: inherit;
  background-color: #F9FAFC;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.main-top img{
  position: absolute;
  right: 0;
  margin: 20px 30px;
  cursor: pointer;
}
.main-skills{
  max-width: 75vw;
  margin-top: 40px;
  margin-left: 50px;
}
.main-skills .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-skills .card p{
  font-size: 12px;
}
.main-skills .card button{
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-skills .card button:hover{
  background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}

/* Courses */
.main-course{
  margin-top:20px ;
  text-transform: capitalize;
}
.course-box{
  width: 100%;
  height: 300px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul{
  list-style: none;
  display: flex;
}
.course-box ul li{
  margin: 10px;
  color: gray;
  cursor: pointer;
}
.course-box ul .active{
  color: #000;
  border-bottom: 1px solid #000;
}
.course-box .course{
  display: flex;
}
.box{
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box p{
  font-size: 12px;
  margin-top: 5px;
}
.box button{
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}
.box button:hover{
  background: rgba(0, 0, 0, 0.842);
}
.box i{
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}
.html{
  color: rgb(25, 94, 54);
}
.css{
  color: rgb(104, 179, 35);
}
.js{
  color: rgb(28, 98, 179);
}

.button-black{
  cursor: pointer;
    width: fit-content;
    height: 45px;
    background-color: #94A7B7;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 75% !important;
    align-items: center;
    padding: 8px 25px 12px 35px;
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.popup-form{
  display: none;
  width: 841px;
  height: 612px;
  border-radius: 26.955px;
  border: 1.348px solid #E4E4E4;
  background: #FFF;
  margin-top: auto;
  margin-left: auto;
}

.popup-heading{

}
  